<!----------sub menu-드론관리-드론정보 click--------------------------------------------->
<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'inc/head-sub.html' ignore missing %}
</head>
<body>
<header>
  <!-- Navbar -->
  {% include 'inc/navbar.html' ignore missing %}
  <!-- Navbar -->
</header>

<!--Main layout-->
<main class="mt-5 pt-4">
  <!----------dron-1 제품 설명란.--------------------------------------------->
  <!--container dark-grey-text: 상단여백(mt) 5크기 설정함.-->
  <div class="container dark-grey-text mt-5">

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <img src="static/img/dron-order/dron1.jpg" class="img-fluid" alt="">
      </div>
      <!--Grid column-->

      <!--Grid column md:총 12개 -->
      <div class="col-md-6 mb-4">

        <!--Content-->
        <ul class="p-4">
          <p class="lead font-weight-bold">드론1</p>
          <li>2배 광학 줌 카메라</li>
          <li>4배 무손실 줌 FHD 동영상</li>
          <li>8 km 1080p 영상 전송</li>
          <li>비행 시간 31분</li>
          <li>전방위 장애물 감지 </li>
          <li> 하이퍼랩스</li>
      </div>

      <!--Content-->
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
  <hr>

  <!----------dron-2 제품 설명란.--------------------------------------------->
  <div class="container dark-grey-text mt-5">

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <img src="static/img/dron-order/dron2.jpg" class="img-fluid" alt="">
      </div>
      <!--Grid column-->

      <!--Grid column md:총 12개 -->
      <div class="col-md-6 mb-4">

        <!--Content-->
        <ul class="p-4">
          <p class="lead font-weight-bold">드론2</p>
          <li>Hasselblad 카메라</li>
          <li>20 MP 1” CMOS 센서</li>
          <li>8 km 1080p 영상 전송</li>
          <li>비행 시간 31분</li>
          <li>전방위 장애물 감지 </li>
          <li>하이퍼랩스</li>
        </ul>

      <!--Content-->
    </div>

    <!--Grid column-->
  </div>
  <hr>
  </div>
</main>

<!--Footer-->
{% include 'inc/footer.html' ignore missing %}
<!--/.Footer-->
<!-- Modal -->
{% include 'inc/modal.html' ignore missing %}
<!--/.Modal-->

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="static/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="static/js/mdb.min.js"></script>
<!-- Initializations -->
<script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>
</body>
</html>
