<!----------sub menu-균열검사-실시간탐지 click--------------------------------------------->
<!DOCTYPE html>
<html lang="en">
<!-- 실시간탐지 페이지-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  {% include 'inc/head-sub.html' ignore missing %}
  <style>
    .w3-row-padding img {margin-bottom: 12px}
  </style>

</head>

<body>
<header>
  <!-- Navbar -->
  {% include 'inc/navbar.html' ignore missing %}
  <!-- Navbar -->
</header>

<!--Main layout-->
<main class="mt-5 pt-4">
  <!--container dark-grey-text: 상단여백(mt) 5크기 설정함.-->
  <!--container 안에 코드 작성해야 상단,좌우 여백 자동으로 맞춰짐.-->
  <div class="container dark-grey-text mt-5">
      <h2 class="font-weight-bold deep-orange-lighter-hover mb-3">실시간 탐지</h2>
    <hr/>

    <!--이미지 불러오기-->
    <div class="w3-row-padding" style="margin-bottom:128px">

      <div class="w3-half">
        {% if True %}
        <video width="500" height="500" loop autoplay>
          <source src ="static/testvideo.webm">
        </video>
        {% endif %}

      </div>

      <div class="w3-half">
        <img src="static/img/crack2.png" alt="" style="width: 100%">
        <div align="right">
          <button type="button" class="btn btn-secondary">기록</button>
        </div>
      </div>
    </div>

  </div>
</main>

<!--Footer-->
{% include 'inc/footer.html' ignore missing %}
<!--/.Footer-->

<!-- Modal -->
{% include 'inc/modal.html' ignore missing %}
<!--/.Modal-->

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="static/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="static/js/mdb.min.js"></script>
<!-- Initializations -->
<script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script>
</body>

</html>
