<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'inc/head-sub.html' ignore missing %}
</head>

<body>

<header>

  <!-- Navbar -->
  {% include 'inc/navbar.html' ignore missing %}
  <!-- Navbar -->

</header>

<!--Main layout mt-5 pt4 고정값임.-->
<main class="mt-5 pt-4">
	<!--cotainer dark-grey-text mt-5 고정값임-->
	<div class="container dark-grey-text mt-5">

		<h1>main-container 부분에 본인이 원하는 html코드 작성하면 됨.</h1>


	</div>



</main>
<!-- DataTable -->
<script type="text/javascript" src="static/js/table.js"></script>
<!--Footer-->
{% include 'inc/footer.html' ignore missing %}
<!--/.Footer-->

<!-- Modal -->
{% include 'inc/modal.html' ignore missing %}
<!--/.Modal-->


<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="static/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="static/js/mdb.min.js"></script>

<!-- Initializations -->
<script type="text/javascript">
    // Animations initialization
    new WOW().init();


  </script>
<!-- DataTable -->
<script type="text/javascript" src="static/js/table.js"></script>
</body>

</html>
