<!DOCTYPE html>
<html lang="en">
<!--내역조회 페이지-->
<head>
  {% include 'inc/head-sub.html' ignore missing %}

<link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
<script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
<script>
    jQuery(function($){
        $("#datatable").DataTable();
    });
</script>
</head>

<body>

<header>
  <!-- Navbar -->
  {% include 'inc/navbar.html' ignore missing %}
  <!-- Navbar -->

</header>

<!--Main layout-->
<main class="mt-5 pt-5">
  <!--container dark-grey-text: 상단여백(mt) 5크기 설정함.-->
  <!--container 안에 코드 작성해야 상단,좌우 여백 자동으로 맞춰짐.-->
  <div class="container dark-grey-text mt-5">
        <h2 class="font-weight-bold deep-orange-lighter-hover mb-3"> 내역 조회</h2>

      <!--임의로 테이블 내용 작성해둠-->
          <table id="datatable" class="table table-bordered">
              <thead>
              <tr>
                  <th>No.</th>
                  <th>Title</th>
                  <th>Date</th>
                  <th>Prediction</th>
                  <th>Location</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <td>1</td>
                  <td>한성아파트 1-101호</td>
                  <td>2020.2.14 15:33</td>
                  <td>Crack</td>
                  <td>13:50:32</td>
              </tr>
              <tr>
                  <td>2</td>
                  <td>한성아파트 3-201호</td>
                  <td>2020.2.16 10:03</td>
                  <td>Non-Crack</td>
                  <td>13:48:21</td>
              </tr>
              <tr>
                  <td>3</td>
                  <td>한성아파트 2-501호</td>
                  <td>2020.2.17 09:43</td>
                  <td>Crack</td>
                  <td>12:46:50</td>
              </tr>
              </tbody>
          </table>
          <hr/>
  </div>
</main>

<!--Footer-->
{% include 'inc/footer.html' ignore missing %}
<!--/.Footer-->

<!-- Modal -->
{% include 'inc/modal.html' ignore missing %}
<!--/.Modal-->

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="static/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="static/js/mdb.min.js"></script>
<!-- Initializations -->
<script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script>
</body>

</html>
