<!----------sub menu-균열검사-내역조회 click--------------------------------------------->
<!DOCTYPE html>
<html lang="en">
<!--내역조회 페이지-->
<head>
  {% include 'inc/head-sub.html' ignore missing %}
    <style>
        #datatable{
            table-layout: fixed;
        }
        #datatable tr, #datatable td {
            padding: 8px;
            border: 1px solid black;
            text-align: center;
        }
.modal-body div{float:left; width: 100%}
.modal-body div p{float:left; width: 20%; font-weight: 600;}
.modal-body div span{float:left; width: 80%}
    </style>
</head>

<body>

<header>
  <!-- Navbar -->
  {% include 'inc/navbar.html' ignore missing %}
  <!-- Navbar -->
</header>

<!--Main layout-->
<main class="mt-5 pt-4">
  <!--container dark-grey-text: 상단여백(mt) 5크기 설정함.-->
  <!--container 안에 코드 작성해야 상단,좌우 여백 자동으로 맞춰짐.-->
  <div class="container">
      <h2 class="font-weight-bold deep-orange-lighter-hover mb-3"> 내역 조회</h2>
      <hr/>

         <!-- DataTable -->
      <table id="datatable" class="display" style="width: 100%">
      </table>

      <!-- Modal -->  <!-- Modal 여기에 추가!! -->
<div class="modal fade" id="myModal" role="dialog">
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">User Details</h4>
    </div>
    <div class="modal-body">
      <div class="title"><p>Title: </p><span></span></div>
      <div class="saveDate"><p>Save_Date: </p><span></span></div>
      <div class="path"><p>Path: </p><span></span></div>
      <div class="comment"><p>Comment: </p><span></span></div>
      <div class="a"><p>A: </p><span></span></div>
      <div class="b"><p>B: </p><span></span></div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>
</div>

      <hr/>
  </div>
</main>

<!--Footer-->
{% include 'inc/footer.html' ignore missing %}
<!--/.Footer-->

<!-- Modal -->
{% include 'inc/modal.html' ignore missing %}
<!--/.Modal-->

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="static/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="static/js/mdb.min.js"></script>
<!-- Initializations -->
<script type="text/javascript">
    // Animations initialization
    new WOW().init();
</script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>


<!--datatable-->
<script>var record = {{ result_data|tojson }};</script>
<script type="text/javascript" src="static/js/table.js"></script>



</body>

</html>