<!-- 로그인 화면 -->
<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"><strong><i class="fas fa-sign-in-alt">
					회원가입</i></strong> </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- 로그인 화면 구성 폼 -->
				<form class="text-center border border-light p-5" action="#!">

					<p class="h4 mb-4"><strong>Sign Up</strong></p>

					<div class="form-row mb-4">
						<div class="col">
							<!-- First name -->
							<input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
						</div>
						<div class="col">
							<!-- Last name -->
							<input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
						</div>
					</div>

					<!-- E-mail -->
					<input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

					<!-- Password -->
					<input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
					<small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
						영어 + 숫자 조합 8자 이상 입력하시오.
					</small>

					<!-- Phone number -->
					<input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
					<small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
						필수사항 - 핸드폰번호 입력하시오.
					</small>

					<!-- Newsletter 필수로 체크 안하면 로그인 가입 안됨 -->
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
						<label class="custom-control-label" for="defaultRegisterFormNewsletter">약관동의</label>
					</div>

					<!-- Sign up button -->
					<button class="btn btn-info my-4 btn-block" type="submit">Sign Up</button>

					<!-- Social register -->
					<p>SNS으로 가입하기:</p>

					<a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
					<a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
					<a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
					<a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>

					<hr>

					<!-- Terms of service -->
					<p>
						<em></em> 가입정보는 1년동안 보관됩니다.
						<!--                    <a href="#" target="_blank">terms of service</a>-->
					</p>
				</form>
				<!-- Default form register -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">취소하기</button>
				<!-- 회원가입 정보 db서버로 넘겨야함. -->
				<button type="button" class="btn btn-primary">가입완료</button>
			</div>
		</div>
	</div>
</div>
<!-- /Modal -->