<nav class="navbar navbar-expand-lg navbar-dark special-color-dark">
	<div class="container">

		<!-- Brand 회사명 작성 -->
		<a class="navbar-brand text-uppercase" href="http://127.0.0.1:5000/">
			<strong><i class="fas fa-chess-queen">HANSUNG SDS</i></strong>
		</a>

		<!-- Collapse Button-->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
		        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Collapsible content -->
		<div class="collapse navbar-collapse" id="basicExampleNav">

			<!-- 서브메뉴 작성 -->
			<ul class="navbar-nav mr-auto">
				<!-- 기업소개 메뉴 -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#"
					   id="navbarDropdownMenuLink1" data-toggle="dropdown"
					   aria-haspopup="true" aria-expanded="false">기업정보
					</a>
					<div class="dropdown-menu dropdown-primary"
					     aria-labelledby="navbarDropdownMenuLink1">
						<a class="dropdown-item" href="http://127.0.0.1:5000/intro">기업소개</a>
						<a class="dropdown-item" href="#">Vision</a>
						<a class="dropdown-item" href="#">대표 및 임원</a>
					</div>

				</li>
				<!-- 제품구매 메뉴 -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#"
					   id="navbarDropdownMenuLink2" data-toggle="dropdown"
					   aria-haspopup="true" aria-expanded="false">제품구매
					</a>
					<div class="dropdown-menu dropdown-primary"
					     aria-labelledby="navbarDropdownMenuLink2">
						<a class="dropdown-item" href="http://127.0.0.1:5000/dron-order">드론구매</a>
						<a class="dropdown-item" href="#">2번</a>
						<a class="dropdown-item" href="#">3번</a>
					</div>
				</li>
				<!-- 드론관리 메뉴 -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#"
					   id="navbarDropdownMenuLink3" data-toggle="dropdown"
					   aria-haspopup="true" aria-expanded="false">드론관리
					</a>
					<div class="dropdown-menu dropdown-primary"
					     aria-labelledby="navbarDropdownMenuLink3">
						<a class="dropdown-item" href="#!">1번</a>
						<a class="dropdown-item" href="#!">2번</a>
						<a class="dropdown-item" href="#!">3번</a>
					</div>
				</li>

				<!-- 계정관리 메뉴 -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#"
					   id="navbarDropdownMenuLink4" data-toggle="dropdown"
					   aria-haspopup="true" aria-expanded="false">계정관리
					</a>
					<div class="dropdown-menu dropdown-primary"
					     aria-labelledby="navbarDropdownMenuLink4">
						<a class="dropdown-item" href="#!">1번</a>
						<a class="dropdown-item" href="#!">2번</a>
						<a class="dropdown-item" href="#!">3번</a>
					</div>
				</li>

				<!-- 균열검사 메뉴 -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#"
					   id="navbarDropdownMenuLink5" data-toggle="dropdown"
					   aria-haspopup="true" aria-expanded="false">균열검사
					</a>
					<div class="dropdown-menu dropdown-primary"
					     aria-labelledby="navbarDropdownMenuLink5">
						<a class="dropdown-item" href="#!">실시간측정</a>
						<a class="dropdown-item" href="#!">측정내역</a>
						<a class="dropdown-item" href="#!">3번</a>
					</div>
				</li>

			</ul>

			<!--            &lt;!&ndash; 로그인 화면 &ndash;&gt;-->
			<!--          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal">-->
			<!--            Launch demo modal-->
			<!--          </button>-->

			<!-- Right -->
			<ul class="navbar-nav nav-flex-icons">
				<li class="nav-item">
					<a href="https://www.facebook.com/mdbootstrap" class="nav-link" target="_blank">
						<i class="fab fa-facebook-f"></i>
					</a>
				</li>
				<li class="nav-item">
					<a href="https://twitter.com/MDBootstrap" class="nav-link" target="_blank">
						<i class="fab fa-twitter"></i>
					</a>
				</li>

				<!-- 로그인 유저 이름 -->
				<li class="nav-item">
					<a href="#"  class="nav-link" >
						<i class="fas fa-user"></i>진선미
					</a>
				</li>

				<li class="nav-item">
					<a href="#" id="btnSingin" class="nav-link border border-light rounded"
					   data-toggle="modal" data-target="#basicExampleModal">
						<i class="fas fa-sign-in-alt"></i>Sing-In
					</a>
				</li>
			</ul>
		</div>
	</div>
 </nav>